@charset "UTF-8";
/* CSS Document */

body{
	background-color: lightskyblue;
}

h1{
	color: yellow;
	text-align: center; font-family: 'Pacifico', cursive; 
	font-size:max(2vw, 7vw);
	margin:0 auto; 	
}
				
hr{
	width:75%; 
	margin-top:20px
}

footer{
	font-size:.8em; 
	color:silver;
	text-align:center; 
	top-padding:10px
}


#spring{
	border-bottom-left-radius:50px 50px; 
	border:5px solid hotpink; 
	width:50%; 
	height:auto
	font-size: 1.5em
	color: white;
	display: flex;
	justify-content: center;
}


#summer{
	border-bottom-left-radius:50px 50px; 
	border:5px solid yellow; 
	width:50%; 
	height:auto
	color:white; 
	font-size: 1.5em
	display: flex;
	justify-content: center;
}
}

#autumn{
	border-bottom-left-radius:50px 50px; 
	border:5px solid darkgreen; 
	width:50%; 
	height:auto
	color:white; 
	font-size: 1.5em
	display: flex;
	justify-content: center;
}

#winter{
	border-bottom-left-radius:50px 50px; 
	border:5px solid lightseagreen; 
	width:50%; 
	height:auto
	color:white; 
	font-size: 1.5em
	display: flex;
	justify-content: center;
}

#spring:hover {
	color: darkred;
}

#spring:active {
	color: blue;
}


#summer:hover {
	color: limegreen;
}
#summer:active{
	color: orange;
}

#autumn:hover {
	color: hotpink;
}

#autumn:active {
	color: greenyellow;
}


#winter:hover {
	color: black;
}

#winter:active {
	color: lightgrey;
}