header{
   font-family: 'Creepster', cursive;
   color: orange;
   font-size: 8em;
  text-align:center;
   background-color: black;
   border: 10px solid orange;
}

main {
  height: 100%;
  width: 100%;
  color: orange;
  padding: 20px
}

body{
  background-image: linear-gradient(to bottom right, orange, black);
  background-repeat: no repeat;
  background-size: auto;
}

.hero-image {
  position: relative;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#pumpkin-img {
  opacity: 0.75;
  height: auto;
  width: 100%;
}
.hero-text {
  position: absolute; 
  top: 50%;
  left: 5%;
}

.hero-text h1 {
  font-family: 'Creepster', cursive;
  font-size: 4vw;
}

.hero-text p {
  font-size: 1.2vw;
}

button {
  border-radius: 20px;
  background-color: black;
  border: 2px solid orange;
  color: orange;
  width: 20%;
}

footer {
  background-color: orange;
}