 body{ 
          background-image: url(https://cdn.dribbble.com/users/116499/screenshots/14425674/media/1565eb1edad6092f29bfb21982ba16ba.png?compress=1&resize=1200x1000&vertical=top);
          background-repeat: no-repeat;
          background-size: cover;
         }

         h1 {
            background-color: #c1de9d;
            color: ghostwhite;
            text-align: center;
            padding:  15px;
            border-bottom: 10px solid skyblue;
            border-top: 10px solid skyblue;
            margin: 0 20px;
           font-family:Jeanne Moderno OT Ultra;
           font-size: 40px;
         }

         img{
          border:  4px solid #c1de9d;
          border-radius: 100px 50px;
          max-width: 100%;
          height: auto;
         }

          main{
            background-color: rgba(0, 1, 9, .3);
            padding:  20px;
            Font-family: Georgia;
          }

          h2{
            color: ghostwhite;
            padding:  15px;
            margin: 0 20px;
           font-family:Jeanne Moderno OT Ultra;
          }

          h3{
            color: ghostwhite;
            padding:  15px;
            margin: 0 20px;
           font-family:Jeanne Moderno OT Ultra;
          }

          a {
            color: deepskyblue;
          }

          li {
            color: ghostwhite;
            padding:  15px;
            margin: 0 20px;
          }
         Label{
            padding:  15px;
           font-family:Jeanne Moderno OT Ultra;
           color: skyblue;
          }
          Legend{
            font-family:Jeanne Moderno OT Ultra;
           color: lightgreen;
           padding:  5px;
          }

          figcaption{

        ont-family:Jeanne Moderno OT Ultra;
           color: lightgreen;
           padding:  5px;
          }

            p{
            font-family:Jeanne Moderno OT Ultra;
           color: lightgreen;
           padding:  5px;
           font-size: 15px;

          }



         button{
            background-color: skyblue;
             border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
            }
            footer{
              font-family: Didot;
              Color: skyblue;
              margin: 4px 2px;
            }